<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicación de Notas</h1>
  <p class="lead">Realizada con Nodejs y Mongodb</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus veniam error totam maiores quaerat possimus porro atque expedita debitis.</p>
  <a href="http://google.com" class="btn btn-primary">Google</a>
</div>